name: sync to rt-embarcados ORG

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # necessário para histórico completo
      - name: Test token access
        env:
          TOKEN: ${{ secrets.RT_EMBARCADOS_TOKEN }}
        run: |
          curl -H "Authorization: token ${TOKEN}" \
            https://api.github.com/repos/rt-embarcados/grp1_repo
      - name: Configure Git credentials
        env:
          TOKEN: ${{ secrets.RT_EMBARCADOS_TOKEN }}
        run: |
          git config --global credential.helper store
          echo "https://x-access-token:${{ secrets.RT_EMBARCADOS_TOKEN }}@github.com" > ~/.git-credentials
      - name: push to rt-embarcados
        env:
          TOKEN: ${{ secrets.RT_EMBARCADOS_TOKEN }}
        run: |
          git remote add rt-embarcados https://github.com/rt-embarcados/grp1_repo.git
          git fetch rt-embarcados
          git push rt-embarcados main:backend --force-with-lease
